<title>Air Carrier Departures Estimation</title>
<body style="background-color:beige;"></body>
<h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 30;">Air Carrier Departures Estimation</h1><br>
<form method="POST">
<h4 style="font-weight:normal;font-family: Arial, Helvetica, sans-serif;font-size: 14;"> 
    Fixed telephone subscriptions: <input type="text" name='Fixed telephone subscriptions'><br><br><br>
    Manufacturing, value added (current US$): <input type="text" name='Manufacturing, value added (current US$)'><br><br><br>
    Services, value added (current US$): <input type="text" name='Services, value added (current US$)'><br><br><br>
    <br><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><input type="submit" name="Predict" value="Predict" style="background-color:powderblue; border-color: #dddddd; border-collapse: collapse;"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;</td><input type="reset" value="Reset" style="background-color:powderblue; border-color: #dddddd; border-collapse: collapse;"> 
</h4>
<br>
    <h5 style="font-weight:normal; font-family: arial, sans-serif ;font-size:12;">
    Please refer to the following links for definition of the attributes:<br>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><a style="font-size: 9" href="https://databank.worldbank.org/metadataglossary/world-development-indicators/series/IS.AIR.DPRT">Air carrier departures</a><br>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><a style="font-size: 9" href="https://databank.worldbank.org/metadataglossary/world-development-indicators/series/IT.MLT.MAIN">Fixed telephone subscriptions</a><br>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><a style="font-size: 9" href="https://databank.worldbank.org/metadataglossary/world-development-indicators/series/NV.IND.MANF.CD">Manufacturing, value added (current US$)</a><br>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><a style="font-size: 9" href="https://databank.worldbank.org/metadataglossary/world-development-indicators/series/NV.SRV.TOTL.CD">Services, value added (current US$)</a><br><br>
</h5>
<br>
<td>&nbsp;</td><input type="submit" name="Main_Menu" value="Go to Main Menu"  style="font-family:'Orator Std';background-color:beige; border-color:beige;outline:beige;"></input>
<td>&nbsp;</td><input type="submit" name="Upload_File" value="Predict using File Upload"  style="font-family:'Orator Std';background-color:beige; border-color:beige;outline:beige;"></input><br><br>
</form>